.cover-message {
  background-color: white;
  color: aqua;
}
/* .popup-container {
    height: 70vh;
  } */
.cover-popup {
  display: flex;
  height: 100%;
  /* flex-direction: column; */
  border-radius: 10%;
}
.left-image {
  height: 70vh;
  background-color: aquamarine;
}
.left-image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.rightcover {
  background-color: white;
  flex-direction: column;
  display: flex;
  gap: 2rem;
  height: 100%;
}
.closebutton {
  display: flex;
  justify-content: flex-end;
  padding: 0rem 0.4rem 0 0;
}
.image {
  object-fit: contain;
}
